force-app/main/default/flows/Creacionde_obra_externa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>geolocalizacionig</name>
        <label>geolocalizacion</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>campodegeolocalizacion</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>geolocalizacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bodega_por_region</name>
        <label>bodega por region</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>bodega_norte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>bodega</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_REgion.codigoItemUDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualizar_bodega</targetReference>
            </connector>
            <label>bodega</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Constructora_nueva</name>
        <label>Tiene Constructora nueva</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>bodega_por_region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Construntora_nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nueva_constructora__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_registros_1</targetReference>
            </connector>
            <label>Construntora nueva</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Constructoranueva</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.DetalleObra__c}, FIND(&quot;-&quot;, {!$Record.DetalleObra__c}) + 1, LEN({!$Record.DetalleObra__c}))</expression>
    </formulas>
    <formulas>
        <name>Detalledelaobra</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.DetalleObra__c}, FIND(&quot;-&quot;, {!$Record.DetalleObra__c}) - 1)</expression>
    </formulas>
    <formulas>
        <name>juntos</name>
        <dataType>String</dataType>
        <expression>{!Detalledelaobra}&amp;&apos; - Constructor: &apos;&amp;{!$Record.nueva_constructora__c}</expression>
    </formulas>
    <interviewLabel>Creacionde obra externa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creacionde obra externa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Ciudad</name>
        <label>Obtener Ciudad</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_REgion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>codigoUDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01/08</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Ciudadname__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>udcDetallada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_pais</name>
        <label>Obtener pais</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Provincia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>codigoUDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01/06</stringValue>
            </value>
        </filters>
        <filters>
            <field>codigoItemUDC__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Pais__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>udcDetallada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Provincia</name>
        <label>Obtener Provincia</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Ciudad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>codigoUDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01/07</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.provincianame__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>udcDetallada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_REgion</name>
        <label>Obtener REgion</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_registros_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>codigoUDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01/11</stringValue>
            </value>
        </filters>
        <filters>
            <field>codigoItemUDC__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Regionname__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>udcDetallada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizar_bodega</name>
        <label>actualizar bodega</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>geolocalizacionig</targetReference>
        </connector>
        <inputAssignments>
            <field>Bodega__c</field>
            <value>
                <stringValue>a0S3h00000Bg321EAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_registros_1</name>
        <label>Actualizar registros 1</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>bodega_por_region</targetReference>
        </connector>
        <inputAssignments>
            <field>DetalleObra__c</field>
            <value>
                <elementReference>juntos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_registros_2</name>
        <label>Actualizar registros 2</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Tiene_Constructora_nueva</targetReference>
        </connector>
        <inputAssignments>
            <field>Ciudad__c</field>
            <value>
                <elementReference>Obtener_Ciudad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compania__c</field>
            <value>
                <stringValue>a0V3h000009kJcBEAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais__c</field>
            <value>
                <elementReference>Obtener_pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provincia__c</field>
            <value>
                <elementReference>Obtener_Provincia.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Obtener_REgion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>bodega_norte</name>
        <label>bodega norte</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>geolocalizacionig</targetReference>
        </connector>
        <inputAssignments>
            <field>Bodega__c</field>
            <value>
                <stringValue>a0S3h00000Bg326EAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>geolocalizacion</name>
        <label>geolocalizacion</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>CurrentLocation__Latitude__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentLocation__Longitude__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>direccionGeorreferenciada__Latitude__s</field>
        </inputAssignments>
        <inputAssignments>
            <field>direccionGeorreferenciada__Longitude__s</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_pais</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Viene_de_zapier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Obra__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>campodegeolocalizacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.CurrentLocation__Latitude__s</elementReference>
        </value>
    </variables>
</Flow>
