force-app/main/default/flows/CreateQuoteFromObras.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssigmentIdObjectLead</name>
        <label>AssigmentIdObjectLead</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>RecordISelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGenericAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account</name>
        <choiceText>Cuenta</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Prospecto</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>SelectedObjectIs</name>
        <label>SelectedObjectIs?</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>getCodeGenericAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>AccountSelect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchAccounts.selectedChoiceValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Cuentas</name>
        <dataType>String</dataType>
        <displayField>AccountName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInfoObra.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <limit>9</limit>
        <object>RelacionObra__c</object>
        <outputAssignments>
            <assignToReference>RecordISelected</assignToReference>
            <field>Cuenta__c</field>
        </outputAssignments>
        <sortField>AccountName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Cuenta__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leads</name>
        <dataType>String</dataType>
        <displayField>LeadName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prospecto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RelacionObra__c</object>
        <outputAssignments>
            <assignToReference>RecordISelected</assignToReference>
            <field>Prospecto__c</field>
        </outputAssignments>
        <valueField>Prospecto__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>test</name>
        <collectionReference>GetRelationshipIntaco</collectionReference>
        <dataType>String</dataType>
        <displayField>AccountName__c</displayField>
        <object>RelacionObra__c</object>
        <valueField>Cuenta__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tests</name>
        <dataType>String</dataType>
        <displayField>LeadName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInfoObra.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prospecto__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>RelacionObra__c</object>
        <valueField>Prospecto__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SearchAccounts.selectedChoiceValues}), 
&apos;Oportunidad - &apos;+{!GetGenericAccount.Name} + &apos; - &apos; + {!GetInfoObra.Name}, 
&apos;Oportunidad - &apos;+{!SearchAccounts.selectedChoiceLabels} + &apos; - &apos; + {!GetInfoObra.Name})</expression>
    </formulas>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SearchAccounts.selectedChoiceValues}), 
&apos;Estimación - &apos;+{!GetGenericAccount.Name} + &apos; - &apos; + {!GetInfoObra.Name}, 
&apos;Estimación - &apos;+{!SearchAccounts.selectedChoiceLabels} + &apos; - &apos; + {!GetInfoObra.Name})</expression>
    </formulas>
    <interviewLabel>CreateQuoteFromObras {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote From Obra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RecordISelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>GetInfoObra.FechaFin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetInfoObra.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeIdOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Estimación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bodegaDeDespacho__c</field>
            <value>
                <elementReference>GetInfoObra.Bodega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compania__c</field>
            <value>
                <elementReference>GetInfoObra.Compania__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pais__c</field>
            <value>
                <elementReference>GetInfoObra.Pais__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getContacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>GetInfoObra.FechaFin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObraCode__c</field>
            <value>
                <elementReference>GetInfoObra.CodigoObras__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obra__c</field>
            <value>
                <elementReference>GetInfoObra.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeIdQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCodeGenericAccount</name>
        <label>getCodeGenericAccount</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGenericAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInfoObra.Compania__r.pais__r.codigoItemUDC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GenericAccountObras__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordISelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGenericAccount</name>
        <label>GetGenericAccount</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigmentIdObjectLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>codigoClienteTexto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCodeGenericAccount.AccountCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInfoObra</name>
        <label>GetInfoObra</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelationshipIntaco</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Obra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBook</name>
        <label>GetPriceBook</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeIdOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdOpp</name>
        <label>GetRecordTypeIdOpp</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeIdQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estimacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdQuote</name>
        <label>GetRecordTypeIdQuote</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EstimacionQuote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelationshipIntaco</name>
        <label>GetRelationshipIntaco</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInfoObra.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RelacionObra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NewQuote</name>
        <label>Crear Estimación</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>SelectedObjectIs</targetReference>
        </connector>
        <fields>
            <name>NewQuote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewQuote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitleScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selecciona una Cuenta para generar Estimación o haz click en Crear para generar Estimación a Cuenta Genérica&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SearchAccounts</name>
            <choiceReferences>Cuentas</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Cuentas</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Seleccionar Cuenta</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Crear</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInfoObra</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NameAccountGeneric</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordISelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
