force-app/main/default/flows/RegistrarContactosObra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AsignarContactosCuentaSeleccionados</name>
        <label>Asignar Contactos de Cuenta Seleccionados</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>TempConactosCuentasObra.NombreObra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempConactosCuentasObra.ContactoCliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarSobreContactosCuentasSeleccionados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColleccionContactosCuentaObra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempConactosCuentasObra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarSobreContactosCuentasSeleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarContactosCuentasRelacionadosObra</name>
        <label>Asignar Contactos de Cuentas relacionados a Obra</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>IdContactosCuentasRelacionadosObra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InterarSobreContactosCuentasRelacionadosObra.ContactoCliente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InterarSobreContactosCuentasRelacionadosObra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarContactosProspectoSeleccionados</name>
        <label>Asignar Contactos de Prospecto Seleccionados</label>
        <locationX>1018</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>tempContactosProspectoObra.NombreObra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactosProspectoObra.ContactoProspecto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarSobreContactosProspectosSeleccionados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColleccionContactoProspectoObra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempContactosProspectoObra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarSobreContactosProspectosSeleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarContactosProspectosRelacionadosObra</name>
        <label>Asignar Contactos de Prospectos relacionados a Obra</label>
        <locationX>1150</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>IdContactosProspectosRelacionadosObra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarSobreContactosProspectosRelacionadosObra.ContactoProspecto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarSobreContactosProspectosRelacionadosObra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarIdCuentasObra</name>
        <label>Asignar ID de Cuentas de Obra</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CustomersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarSobreClientes.Cuenta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarSobreClientes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarIdProspectoObra</name>
        <label>Asignar ID de Prospecto de Obra</label>
        <locationX>908</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>LeadsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarSobreProspectos.Prospecto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarSobreProspectos</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContactoCuenta</name>
        <choiceText>Contacto de Cuenta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacto de Cuenta</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactoProspecto</name>
        <choiceText>Contacto de Prospecto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacto de Prospecto</stringValue>
        </value>
    </choices>
    <constants>
        <name>MinimumSelectionValue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionSeleccionTipoContacto</name>
        <label>Decisión para selección de tipo de contacto</label>
        <locationX>820</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>ValidarProspectosRelacionObra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agregar Contacto de Prospecto</defaultConnectorLabel>
        <rules>
            <name>AgregarContactoCuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactoCuenta</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarCuentasRelacionObra</targetReference>
            </connector>
            <label>Agregar Contacto de Cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarContactosCuentasRelacionadas</name>
        <label>Validar Contactos en Cuentas relacionadas?</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>ModalNoExistenciaContactosCuentasRelacionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen Contactos en Cuentas relacionadas</defaultConnectorLabel>
        <rules>
            <name>SiExistenContactosCuentasRelacionadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerContactosCuentasRelacionadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ModalSeleccionarContactoCuenta</targetReference>
            </connector>
            <label>Sí existen contactos de cuentas relacionadas</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarContactosProspectosRelacionados</name>
        <label>Validar Contactos de Prospectos relacionados</label>
        <locationX>1062</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>ModalNoExistenciaContactosProspectosRelacionados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen contactos de prospectos relacionados</defaultConnectorLabel>
        <rules>
            <name>SiExistenContactosProspectosRelacionados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerContactosProspectosRelacionados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ModalSeleccionarContactoProspecto</targetReference>
            </connector>
            <label>Sí existen contactos de prospectos relacionados</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarCuentasRelacionObra</name>
        <label>Validar Cuentas de Relación Obra</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>ModalNoExistenciaCuentasRelacionObra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen cuentas en relación Obra</defaultConnectorLabel>
        <rules>
            <name>ExistenCuentasRelacionObra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomersId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerContactosCuentasRelacionadosObra</targetReference>
            </connector>
            <label>Existen cuentas en relación obra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarProspectosRelacionObra</name>
        <label>Validar Prospectos de Relación Obra</label>
        <locationX>1260</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>ModalNoExistenciaProspectosRelacionObra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen prospectos en relación Obra</defaultConnectorLabel>
        <rules>
            <name>ExistenProspectosRelacionObra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadsId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerContactosProspectosRelacionadosObra</targetReference>
            </connector>
            <label>Existen prospectos en relación obra?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Test</name>
        <collectionReference>ObtenerContactosCuentasRelacionadas</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Registro de Contactos de Obra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registrar de Contactos de Obra</label>
    <loops>
        <name>InterarSobreContactosCuentasRelacionadosObra</name>
        <label>Iterar sobre Contactos de Cuentas relacionados a Obra</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <collectionReference>ObtenerContactosCuentasRelacionadosObra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarContactosCuentasRelacionadosObra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerContactosCuentasRelacionadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarSobreClientes</name>
        <label>Iterar sobre clientes</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <collectionReference>ObtenerCuentasRelacionObra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarIdCuentasObra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarSobreProspectos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarSobreContactosCuentasSeleccionados</name>
        <label>Iterar sobre contactos de cuentas seleccionados</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <collectionReference>TablaSeleccionContactosCuentasObra.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarContactosCuentaSeleccionados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CrearRegistrosContactosRelacionadosObras</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarSobreContactosProspectosRelacionadosObra</name>
        <label>Iterar sobre Contactos de Prospectos relacionados a Obra</label>
        <locationX>1062</locationX>
        <locationY>1490</locationY>
        <collectionReference>ObtenerContactosProspectosRelacionadosObra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarContactosProspectosRelacionadosObra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerContactosProspectosRelacionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarSobreContactosProspectosSeleccionados</name>
        <label>Iterar sobre contactos de prospectos seleccionados</label>
        <locationX>930</locationX>
        <locationY>2114</locationY>
        <collectionReference>TablaSeleccionContactosProspectosObra.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarContactosProspectoSeleccionados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CrearRegistrosContactosProspectosRelacionadosObras</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarSobreProspectos</name>
        <label>Iterar sobre Prospectos</label>
        <locationX>820</locationX>
        <locationY>758</locationY>
        <collectionReference>ObtenerProspectosRelacionObra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarIdProspectoObra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PantallaSeleccionTipoContacto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearRegistrosContactosProspectosRelacionadosObras</name>
        <label>Crear registros de Contactos de Prospectos relacionados a Obras</label>
        <locationX>930</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>ContactosObraRegistrados</targetReference>
        </connector>
        <inputReference>ColleccionContactoProspectoObra</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CrearRegistrosContactosRelacionadosObras</name>
        <label>Crear registros de Contactos relacionados a Obras</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>ContactosObraRegistrados</targetReference>
        </connector>
        <inputReference>ColleccionContactosCuentaObra</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ObtenerContactosCuentasRelacionadas</name>
        <label>Obtener Contactos de Cuentas relacionadas</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidarContactosCuentasRelacionadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CustomersId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>IdContactosCuentasRelacionadosObra</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerContactosCuentasRelacionadosObra</name>
        <label>Obtener Contactos de Cuentas relacionados a Obra</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InterarSobreContactosCuentasRelacionadosObra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NombreObra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactoCliente__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactoObra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerContactosProspectosRelacionados</name>
        <label>Obtener Contactos de Prospectos relacionados</label>
        <locationX>1062</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidarContactosProspectosRelacionados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>prospecto__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LeadsId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>IdContactosProspectosRelacionadosObra</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>contactoProspecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerContactosProspectosRelacionadosObra</name>
        <label>Obtener Contactos de Prospectos relacionados a Obra</label>
        <locationX>1062</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarSobreContactosProspectosRelacionadosObra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NombreObra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactoProspecto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactoObra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCuentasRelacionObra</name>
        <label>Obtener Cuentas de Relación Obra</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerProspectosRelacionObra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RelacionObra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerProspectosRelacionObra</name>
        <label>Obtener Prospectos de Relación Obra</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarSobreClientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prospecto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RelacionObra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerRegistroObra</name>
        <label>Obtener registro de Obra</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerCuentasRelacionObra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Obra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ContactosObraRegistrados</name>
        <label>Contactos de Obra registrados</label>
        <locationX>820</locationX>
        <locationY>2774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AvisoExitosoRegistroContactoObras</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(28, 115, 50);&quot;&gt;Los Contactos relacionados a la Obra {!ObtenerRegistroObra.Name} fueron creados exitosamente!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalNoExistenciaContactosCuentasRelacionadas</name>
        <label>Modal no existencia de contactos de cuentas relacionadas</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>AvisoNoExistenContactos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(211, 36, 36);&quot;&gt;Actualmente no existen Contactos cuyas Cuentas están relacionadas a la Obra. Por favor cree nuevos Contactos a las Cuentas ya relacionadas&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalNoExistenciaContactosProspectosRelacionados</name>
        <label>Modal no existencia de contactos de prospectos relacionados</label>
        <locationX>1194</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>AvisoNoExistenContactosProspectos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 36, 36); font-size: 18px;&quot;&gt;Actualmente no existen Contactos cuyos Prospectos están relacionados a la Obra. Por favor cree nuevos Contactos de Prospectos ya relacionados&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalNoExistenciaCuentasRelacionObra</name>
        <label>Modal no existencia de cuentas en relación obra</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>AvisoNoExistenCuentas</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 36, 36); font-size: 18px;&quot;&gt;Actualmente no existen Cuentas relacionadas a la Obra. Por favor cree una relación a una Cuenta&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalNoExistenciaProspectosRelacionObra</name>
        <label>Modal no existencia de prospectos en relación obra</label>
        <locationX>1458</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>AvisoNoExistenProspectos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(211, 36, 36);&quot;&gt;Actualmente no existen Prospectos relacionados a la Obra. Por favor cree una relación a un Prospecto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fin</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalSeleccionarContactoCuenta</name>
        <label>Modal para seleccionar Contacto de Cuenta</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>IterarSobreContactosCuentasSeleccionados</targetReference>
        </connector>
        <fields>
            <name>TextoTablaContactosCuenta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Seleccione los Contactos que quiere relacionar a la Obra {!ObtenerRegistroObra.Name}. &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NOTA:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Sólo se muestran los Contactos de las Cuentas que ya se encuentran relacionadas a la Obra&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaSeleccionContactosCuentasObra</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contactos de Cuentas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <elementReference>MinimumSelectionValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ObtenerContactosCuentasRelacionadas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1707&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre completo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NombreCuenta__c&quot;,&quot;guid&quot;:&quot;column-22a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:null,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModalSeleccionarContactoProspecto</name>
        <label>Modal para seleccionar Contacto de Prospecto</label>
        <locationX>930</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>IterarSobreContactosProspectosSeleccionados</targetReference>
        </connector>
        <fields>
            <name>TextTablaContactosProspectos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Seleccione los Contactos que quiere relacionar a la Obra {!ObtenerRegistroObra.Name}. &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NOTA:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Sólo se muestran los Contactos de los Prospectos que ya se encuentran relacionados a la Obra&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TablaSeleccionContactosProspectosObra</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>contactoProspecto__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contactos de Prospectos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <elementReference>MinimumSelectionValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;nombre__c&quot;,&quot;guid&quot;:&quot;column-f48c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nombre&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NombreProspecto__c&quot;,&quot;guid&quot;:&quot;column-04c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre de Prospecto&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ObtenerContactosProspectosRelacionados</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaSeleccionTipoContacto</name>
        <label>Pantalla de selección de Tipo de Contacto</label>
        <locationX>820</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionSeleccionTipoContacto</targetReference>
        </connector>
        <fields>
            <name>SeleccionTipoContacto</name>
            <choiceReferences>ContactoCuenta</choiceReferences>
            <choiceReferences>ContactoProspecto</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qué tipo de Contacto quiere relacionar a la Obra?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerRegistroObra</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColleccionContactoProspectoObra</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactoObra__c</objectType>
    </variables>
    <variables>
        <name>ColleccionContactosCuentaObra</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactoObra__c</objectType>
    </variables>
    <variables>
        <name>CustomersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactosCuentasRelacionadosObra</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactosProspectosRelacionadosObra</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempConactosCuentasObra</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactoObra__c</objectType>
    </variables>
    <variables>
        <name>tempContactosProspectoObra</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactoObra__c</objectType>
    </variables>
</Flow>
