force-app/main/default/flows/semaforo_de_obra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>validarEst</name>
        <label>tiene estimaciones</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Cuando_no_tiene_obra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>tiene_estimaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerestimaciones_relacionadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuando_tiene_obra</targetReference>
            </connector>
            <label>tiene estimaciones</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>semaforo de obra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>semaforo de obra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtenerestimaciones_relacionadas</name>
        <label>obtenerestimaciones relacionadas</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validarEst</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cuando_no_tiene_obra</name>
        <label>Cuando no tiene obra</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Potencial_semaforo__c</field>
            <value>
                <stringValue>🔴</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cuando_tiene_obra</name>
        <label>Cuando tiene obra</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Potencial_semaforo__c</field>
            <value>
                <stringValue>🟢</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtenerestimaciones_relacionadas</targetReference>
        </connector>
        <object>Obra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
