force-app/main/default/flows/SumSalesReferencial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Sum</name>
        <label>Sum</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumAmount.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumAmount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SumSalesReferencial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SumSalesReferencial</label>
    <loops>
        <name>SumAmount</name>
        <label>SumAmount</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getAllSalesRefencial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateObra</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllSalesRefencial</name>
        <label>getAllSalesRefencial</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Obra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Obra__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReferenceSales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateObra</name>
        <label>UpdateObra</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Obra__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VentasReferenciales__c</field>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </inputAssignments>
        <object>Obra__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllSalesRefencial</targetReference>
        </connector>
        <object>ReferenceSales__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
