force-app/main/default/flows/UpdateStatusObra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>is_Init_or_Final</name>
        <label>is Init or Final</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Init</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaInicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStartDate</targetReference>
            </connector>
            <label>Init</label>
        </rules>
        <rules>
            <name>Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaFin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFinalDate</targetReference>
            </connector>
            <label>Final</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>UpdateStatusObra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateStatusObra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateFinalDate</name>
        <label>UpdateFinalDate</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>EstadoObra__c</field>
            <value>
                <stringValue>Ejecutada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStartDate</name>
        <label>UpdateStartDate</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>EstadoObra__c</field>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Init_or_Final</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EstadoObra__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <object>Obra__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-08</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
